<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
</head>
<body>
    <h1>Welcome to the login/registration page</h1>
    <p>Click the link below to register your account</p>
    <a href="/register">Register</a>
    <p>If you're already registered, click the following link to login</p>
    <a href="/userRegistration/loginPage">Login</a>
</body>
</html>