<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Registered Users</title>
</head>
<body>
    <h1>Following are our registered users </h1>
    {% for i in registeredUsers %}
    <p>{{i.id}}. {{i.username}} <a href="delete/{{ i.id }}">delete</a> </p>
    {% endfor %}
    <br><br>
    <p>Go back to the <a href="/register">registration page</a> </p>
    <p> Go back to the <a href="/">Home page</a></p>
</body>
</html>